.shows_container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 60px;
  margin: 20px 50px;
}


.show_container{
  justify-content: center;
  text-align: center;
}

.show_container img{
  height: 300px;
}

#root{
  width: 100vw;
}